{
  "env": {
    "browser": true,
    "amd": true
  },
  "extends": "eslint:recommended",
  "fix": true,
  "root": true,
  "globals": {
    "module": true,
    "$": true,
    "jQuery": true,
    "require": true,
    "define": true,
    "_": true
  },
  "rules": {
    "eqeqeq": [2, "allow-null"],
    "max-len": [2, { code: 80 }],
    "quotes": [2, "single"],
    "no-unused-vars": [2, { "args": "none" }],
    "func-names": [2, "always"],
    "strict": [2, "function"],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-loop-func": [2],
    "no-invalid-this": [2],
    "indent": [2, "tab"],
    "curly": [2],
    "no-multiple-empty-lines": [2, { "max": 1 }],
    "complexity": [1, 6],
    "max-depth": [2, 3]
  }
}
